/** @format */
:root {
  --tag-color: rgb(17, 17, 17);
  --home-h1-color: rgba(2, 2, 2, 0.712);
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgba(0, 0, 0, 0.945);
  --field-header-h1: rgba(36, 36, 36, 0.725);
  --field-header-green: #4dbc92;
  --like-color: rgba(8, 8, 8, 0.753);
  --field-hover-green: #1a9e60;
  --bg-color: rgb(255, 255, 255);
  --border-color: rgba(0, 0, 0, 0.041);
  --field-shadow: rgba(0, 0, 0, 0.048);
  --nav-icons: rgba(0, 0, 0, 0.267);
  --nav-text-hover: #17b478;
  --field-header-box: rgba(0, 0, 0, 0.123);
  --home-body-bottom: rgba(0, 0, 0, 0.048);
  --item-post-likes: rgba(255, 255, 255, 0.829);
  --item-post-likes-border: #34f1991e;
  --icon-bg-color: #00000009;
  --profile-label: rgba(75, 75, 75, 0.89);
  --profile-input-border: rgba(0, 0, 0, 0.164);
  --login-boder-input: rgba(0, 0, 0, 0.123);
  --login-btn-border: rgba(0, 0, 0, 0.603);
  --auth-social-icon-border: rgba(0, 0, 0, 0.144);
  --create-label: #00000091;
  --paceholder-color: rgba(0, 0, 0, 0.61);
  --create-right-btn: white;
  --user-create-field: rgb(87, 87, 87);
  --image-progress: rgba(255, 255, 255, 0.89);
}
.dark-theme {
  --tag-color: rgb(255, 255, 255);
  --home-h1-color: rgba(255, 255, 255, 0.712);
  --primary-color: rgba(241, 241, 241, 0.973);
  --secondary-color: rgb(255, 255, 255);
  --field-header-h1: rgba(255, 255, 255, 0.725);
  --field-header-green: #4dbc92;
  --like-color: rgba(255, 255, 255, 0.753);
  --field-hover-green: #1a9e60;
  --bg-color: rgb(0, 0, 0);
  --border-color: rgba(221, 221, 221, 0.11);
  --field-shadow: rgba(255, 255, 255, 0.062);
  --nav-icons: rgba(255, 255, 255, 0.637);
  --nav-text-hover: #00db87e7;
  --field-header-box: rgba(18, 235, 65, 0.527);
  --home-body-bottom: rgba(21, 250, 0, 0.192);
  --item-post-likes: rgba(0, 0, 0, 0.918);
  --item-post-likes-border: rgba(0, 194, 0, 0.432);
  --icon-bg-color: #94959928;
  --profile-label: rgba(194, 193, 193, 0.89);
  --profile-input-border: rgba(245, 244, 244, 0.24);
  --login-boder-input: rgba(253, 253, 253, 0.13);
  --login-btn-border: rgba(170, 170, 170, 0.603);
  --auth-social-icon-border: rgba(255, 253, 253, 0.24);
  --create-label: #f3f1f1de;
  --paceholder-color: rgba(255, 255, 255, 0.555);
  --create-right-btn: #000000;
  --user-create-field: rgb(172, 170, 170);
  --image-progress: rgba(0, 0, 0, 0.788);
}
body {
  background: var(--bg-color);

  transition: background 0.3s linear;
}

.home-container {
  width: 100%;
  min-height: auto;
  margin: 80px 0;
  padding-top: 1%;
}
.home-contents {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 5%;
  border-bottom: 3px solid var(--home-body-bottom);
  .open-home-item {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.2rem;
    font-size: 1.05rem;
    color: rgb(95, 95, 95);
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
  .loader-div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
}
.avatar,
.avatar-align {
  display: flex;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
  }
  a {
    text-decoration: none;
    color: var(--primary-color);
    &:hover {
      color: rgb(20, 211, 61);
    }
  }
  p {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.6;
  }
}
.home-t-span {
  color: var(--tag-color);
  font-weight: 600;
}

.home-left-details {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.55rem;
    color: var(--home-h1-color);
    margin-bottom: 1.4rem;
    font-family: "Poppins", sans-serif;
  }
  .post-details {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    margin-top: 1.4rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9;
    width: 90%;
    color: var(--primary-color);
  }
  .a-tag {
    margin-top: 1.4rem;
    padding: 0.5rem 0.9rem 0.6rem;
    background-color: rgba(173, 216, 230, 0.562);
    color: rgb(0, 0, 0);
    font-size: 0.85rem;
    text-decoration: none;
    &:hover {
      background-color: black;
      color: rgb(252, 252, 252);
    }
  }
}
.home-right-details {
  width: 480px;
  height: 280px;
  background-color: lightcyan;
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
}
.img-loading {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 0.6rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: rgb(0, 0, 0);
  animation: spin 1s infinite linear;
  &:hover {
    border-top-color: rgba(0, 0, 0, 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1300px) {
  .home-right-details {
    width: 410px;
    height: 260px;
    background-color: lightcyan;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 1100px) {
  .home-contents {
    width: 88%;
    padding-bottom: 2rem;
    flex-direction: column-reverse;
  }

  .home-container {
    margin: 30px 0 40px;
  }
  .home-left-details {
    width: 100%;
    padding: 0;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    h1 {
      font-size: 1.4rem;
      margin-bottom: 1.2rem;
    }
    .post-details {
      width: 100%;
      margin-top: 0.8rem;
      font-size: 0.9rem;
    }
    .a-tag {
      margin-top: 0.8rem;
      padding: 0.5rem 0.9rem;

      font-size: 0.85rem;
    }
  }
  .home-right-details {
    width: 100%;
    height: 280px;
    background-color: lightcyan;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 720px) {
  .home-contents {
    border-bottom: 0;
    padding-bottom: 1rem;
  }
  .home-left-details {
    width: 100%;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    h1 {
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }
    .post-details {
      width: 100%;
      margin-top: 0.8rem;
      font-size: 0.95rem;
      margin-bottom: 0.8rem;
    }
    .a-tag {
      margin-top: 0.8rem;
      padding: 0.5rem 0.9rem;

      font-size: 0.85rem;
    }
  }
  .home-right-details {
    width: 100%;
    height: 250px;
    background-color: lightcyan;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 520px) {
  .home-right-details {
    width: 100%;
    height: 210px;
    background-color: lightcyan;
    img {
      border-radius: 2px;
      width: 100%;
      height: 100%;
    }
  }
}
