/** @format */

.item-container {
  width: 100%;
  height: auto;
}
.item-contents {
  padding: 2% 0 5%;
  max-width: 50rem;
  margin: 0 auto;
}

.item-body {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.itempostimg-div {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 7px;

  position: relative;
  .itempostlikes {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2.8rem;
    background-color: rgba(253, 253, 253, 0.11);

    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      margin: 0 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
    .itempostlikeicon {
      font-size: 1.2rem;
      margin-right: 0.5rem;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.918);

      &:hover {
        color: rgb(3, 177, 3);
      }
    }
    .itempostlikeiconactive {
      color: rgba(255, 255, 255, 0.966);
    }
    .itempostdislikeicon {
      font-size: 1.2rem;
      cursor: pointer;
      margin-left: 0.5rem;
      margin-right: 0rem;
      color: rgba(255, 255, 255, 0.918);

      &:hover {
        color: rgb(216, 61, 61);
      }
    }
  }
  .itempostimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  .item-download-icon {
    position: absolute;
    right: 1rem;
    bottom: 0.8rem;
    z-index: 50;
    font-size: 1.2rem;
    color: rgba(250, 250, 250, 0.719);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      color: #34f199;
      transform: scale(1.05);
    }
  }
}
.item-post-details {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  position: relative;
  .item-details {
    margin-top: 2.5rem;
    h1 {
      font-size: 1.65rem;

      font-weight: 600;
      margin-bottom: 0.8rem;
      sub {
        font-weight: 300;
        font-size: 0.7rem;
      }
    }
    p {
      margin-top: 2.2rem;
      font-size: 0.95rem;
      font-weight: 500;
      line-height: 1.9;
    }
  }
}

@media screen and (max-width: 1000px) {
  .itempostimg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }
  .item-container {
    overflow: hidden;
  }
  .item-contents {
    padding: 3% 0 5%;
    width: 92%;
    margin: 0 auto;
  }
  .item-body {
    padding: 0;
  }
  .item-post-details {
    .item-details {
      h1 {
        font-size: 1.5rem;

        font-weight: 600;
        margin-bottom: 0.8rem;
      }
      p {
        font-size: 0.95rem;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .itempostimg-div {
    height: 320px;
  }

  .item-container {
    overflow: hidden;
  }
  .item-contents {
    padding: 3% 0 5%;
    width: 92%;
    margin: 0 auto;
  }
  .item-body {
    padding: 0;
  }
  .item-post-details {
    .item-details {
      margin-top: 2rem;
      h1 {
        font-size: 1.2rem;

        font-weight: 600;
        margin-bottom: 0.8rem;
      }
      p {
        font-size: 0.95rem;
      }
    }
  }
}
