/** @format */

@mixin button {
  font-family: "Quicksand", sans-serif;
  padding: 0.35rem 1.2rem 0.45rem;

  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #4dbc92;
  color: white;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.6px;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.603);
    background: transparent;
    color: black;
  }
  &:active {
    transform: scale(0.85);
  }
}

.create-conatiner {
  width: 100%;
}
.create-contents {
  width: 100%;
  height: auto;
  margin: 40px auto 80px;
  padding-bottom: 80px;
}
form {
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin: 0px auto;
}
.submit-btn {
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  button {
    @include button();
  }
}
.create-items-left {
  width: 35rem;

  .input-container {
    width: 100%;
    margin: 2.5rem 0;
    label {
      display: inline-block;
      font-size: 1.05rem;
      font-weight: 500;
      letter-spacing: 0.6px;
    }
    input,
    textarea {
      margin: 0.7rem 0;
      padding: 0.5rem 0.8rem;
      display: block;
      width: 96%;
      transition: all 0.3s ease-in-out;
      border: 2px solid rgba(0, 0, 0, 0.192);
      font-family: "Quicksand", sans-serif;
      letter-spacing: 0.6px;
      outline: 0;
      font-size: 0.95rem;
      font-weight: 500;
      &::placeholder {
        font-size: 0.9rem;
      }
      &:focus {
        border: 2px solid rgb(12, 209, 6);
      }
    }
    select {
      font-family: "Quicksand", sans-serif;
      display: block;
      margin: 0.7rem 0;
      width: 100%;
      padding: 0.5rem 0.8rem;
      border: 2px solid rgba(0, 0, 0, 0.192);
      outline: 0;
      font-weight: 500;
      font-size: 0.9rem;

      &:focus {
        border: 2px solid rgb(53, 226, 53);
      }
    }
  }
}
.create-right-container {
  width: 30rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  .input-conatiner {
    width: 80%;
    align-self: flex-end;
    .errors {
      display: inline-block;
      width: 100%;
      margin-top: 0.5rem;
      font-size: 0.85rem;
      color: red;
      font-weight: 500;
      letter-spacing: 0.6px;
    }
    .filename {
      margin-top: 0.5rem;
      display: inline-block;
      width: 100%;
      color: rgb(116, 115, 115) !important;
    }
    label {
      background-color: #4dbc92;
      color: rgb(255, 255, 255);
      font-weight: 500;
      width: 8rem;
      font-size: 0.9rem;
      letter-spacing: 0.7px;
      padding: 0.4rem 0.4rem;
      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      border: 2px solid rgba(0, 0, 0, 0);
      cursor: pointer;
      &:hover {
        color: black;

        background: transparent;
        border: 2px solid rgba(0, 0, 0, 0.623);
      }
    }
    input {
      width: 0;
      height: 0;
    }
  }
  .uploaded-img {
    align-self: flex-end;
    width: 85%;
    margin-top: 2rem;
    height: 260px;
    background-color: rgba(0, 0, 0, 0);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
      animation: image-animate 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    }
  }
  @keyframes image-animate {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}
.btn-submit {
  display: flex;
  align-items: center;
}
.btn-opacity {
  opacity: 0.7;
  &:hover .loading {
    border-top-color: rgb(0, 0, 0);
  }
}
.loading {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 0.6rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: rgb(255, 255, 255);
  animation: spin 1s infinite linear;
  &:hover {
    border-top-color: rgba(0, 0, 0, 0);
  }
}
.loading-span {
  user-select: none;

  transition: 0.5s ease-in-out;

  font-size: 10px;

  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and(max-width:1600px) {
  .create-contents {
    margin: 40px auto 80px;
  }
}
